<h1>Bienvenidos</h1>
<p>Nuestra App presta peliculas a todos !! </p>
<img src="http://4.bp.blogspot.com/-b84hPge9HWU/U_AGE-nLWaI/AAAAAAAAAfY/T5UHFfvGTCw/s1600/logo-nuevo-6-011-300x300.png" class="img-responsive" alt="">
